<%= form_with(model: @meet, local: true) do |form| %>
    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>
  
    <div class="field">
      <%= form.label :estimated_time %>
      <%= form.number_field :estimated_time %>
    </div>
  
    <div class="field">
      <%= form.label :cant_asist %>
      <%= form.number_field :cant_asist %>
    </div>
  
    <div class="field">
      <%= form.label :start_hour %>
      <%= form.datetime_select :start_hour %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  